<mat-card *ngFor="let item of cartData">
    <div *ngIf="item.quantity != 0">
        <img mat-card-lg-image 
      [src]="item.images.length > 0 ? getFullImageURL(item._id, item.images[0]) : '/assets/images/placeholder.png'"
      onerror="this.onerror=null;this.src='/assets/images/placeholder.png';"
    />
    <mat-card-title>
      {{item.name}}
    </mat-card-title>
    <mat-card-subtitle>
      RM {{item.price | convertToPrice}}
    </mat-card-subtitle>
    <mat-card-content>
      <p>Quantity : {{item.quantity}}</p>
    </mat-card-content>
    </div>
</mat-card>
<p *ngIf="cartData.length == 0">Cart is empty!</p>