<mat-toolbar color="primary">

    <button *ngIf="current_route === '/cart'" mat-icon-button aria-label="cart-icon-here" (click)="goBack()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <span>{{header}}</span>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="cart-icon-here" (click)="goToCartPage()">
      <mat-icon>shopping_cart</mat-icon>
      {{cart_number}}
    </button>
</mat-toolbar>

  <mat-toolbar *ngIf="current_route !== '/cart'">
    <input [(ngModel)]="input" placeholder="search products" />
    <button mat-raised-button aria-label="search-icon-here" (click)="searchProduct()">
      Search
    </button>
    <span class="spacer"></span>
    <button mat-icon-button aria-label="list-icon-here" (click)="setViewTo('LIST')">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button aria-label="grid-icon-here" (click)="setViewTo('GRID')">
      <mat-icon>grid_view</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
